<div class="sidebar" [class.collapsed]="!isOpen">
  <div class="sidebar-header">
    <div class="logo">
      <img src="assets/logo.svg" alt="Logo" class="logo-icon">
      <span class="logo-text" *ngIf="isOpen">COINSPACE</span>
    </div>
  </div>

  <div class="sidebar-content">
    <div class="sidebar-section">
      <h3 *ngIf="isOpen">Quick Access</h3>
      <ul class="menu-list">
        <li *ngFor="let item of menuItems" 
            [class.active]="item.isActive"
            [class.has-submenu]="item.hasSubmenu">
          <a class="menu-item" (click)="item.hasSubmenu ? toggleSubmenu(item) : handleMenuItemClick(item)">
            <span class="menu-icon">
              <img [src]="'assets/' + item.iconSrc" alt="{{ item.name }}" class="menu-svg-icon">
            </span>
            <span class="menu-text" *ngIf="isOpen">{{ item.name }}</span>
            <span class="submenu-arrow" *ngIf="item.hasSubmenu && isOpen">
              <span [class.open]="item.isSubmenuOpen">›</span>
            </span>
          </a>
          <ul class="submenu" *ngIf="item.hasSubmenu && item.isSubmenuOpen && isOpen">
            <li *ngFor="let subItem of item.submenuItems">
              <a class="submenu-item" (click)="handleSubmenuItemClick(item.name, subItem.name)">
                {{ subItem.name }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="sidebar-section">
      <h3 *ngIf="isOpen">Service</h3>
      <ul class="menu-list">
        <li *ngFor="let item of serviceItems" 
            [class.active]="item.isActive"
            [class.has-submenu]="item.hasSubmenu">
          <a class="menu-item" (click)="item.hasSubmenu ? toggleSubmenu(item) : handleMenuItemClick(item)">
            <span class="menu-icon">
              <img [src]="'assets/' + item.iconSrc" alt="{{ item.name }}" class="menu-svg-icon">
            </span>
            <span class="menu-text" *ngIf="isOpen">{{ item.name }}</span>
            <span class="submenu-arrow" *ngIf="item.hasSubmenu && isOpen">
              <span [class.open]="item.isSubmenuOpen">›</span>
            </span>
          </a>
          <ul class="submenu" *ngIf="item.hasSubmenu && item.isSubmenuOpen && isOpen">
            <li *ngFor="let subItem of item.submenuItems">
              <a class="submenu-item" (click)="handleSubmenuItemClick(item.name, subItem.name)">
                {{ subItem.name }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="sidebar-section">
      <h3 *ngIf="isOpen">Account</h3>
      <ul class="menu-list">
        <li *ngFor="let item of accountItems.slice(0, accountItems.length - 1)" [class.active]="item.isActive">
          <a class="menu-item" (click)="handleMenuItemClick(item)">
            <span class="menu-icon">
              <img [src]="'assets/' + item.iconSrc" alt="{{ item.name }}" class="menu-svg-icon">
            </span>
            <span class="menu-text" *ngIf="isOpen">{{ item.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Logout button positioned at the bottom -->
  <div class="logout-container">
    <a class="menu-item" (click)="handleMenuItemClick(accountItems[accountItems.length - 1])">
      <span class="menu-icon">
        <img [src]="'assets/' + accountItems[accountItems.length - 1].iconSrc" alt="{{ accountItems[accountItems.length - 1].name }}" class="menu-svg-icon">
      </span>
      <span class="menu-text" *ngIf="isOpen">{{ accountItems[accountItems.length - 1].name }}</span>
    </a>
  </div>
</div>
